.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

@media (max-width: 900px) {
  .dashboard {
    flex-wrap: wrap;
    justify-content: center;
  }
}