@import '../common/typography';
@import '../common/colors';

.stockList {
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.stockList a:hover, a:visited, a:link, a:active, a{
  text-decoration: none;
  color: var(--merino);
}

.stockList a:hover {
  cursor: pointer;
  font-weight: 700;
}

.stockListItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 5px 3.5px;
  width: 200px;
}

.stockList:first-child {
  border-top: 1px solid;
}

.stockListItem:hover {
  background-color: #34345d;
}

.stockName {
  display: inline-block;
}

.deleteBtn {
  display: inline-block;
  background: none;
  border: 0px solid;
  color: var(--merino);
  padding: 0px;
  margin-right: 10px;
  cursor: pointer;
  font-size: var(--fontMedium);
  font-weight: 700;
}

.deleteBtn:hover {
  color: var(--wildStrawberry);
}

.deleteAnimation {
  animation-name: delete;
  animation-duration: 0.25s;
}

@media (max-width: 900px) {
  .stockList {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .stockName{
    margin: 0 10px;
  }

  .stockListItem {
    padding: 5px 0;
    margin: 10px 40px 10px 0px;
  }
}

@keyframes delete {
   0% {
    opacity: 1.0;
    padding-left: 0px; }
  100% {
    opacity: 0.0;
    padding-left: 30px;
  }
}